h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
}

input {
  width: 6rem;
  font-size: 3rem;
}

.timer {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
