.container {
  display: flex;
  justify-content: center;
  background: rgba(126, 125, 125, 0.521);
  border-radius: 3px;
  box-shadow: rgba(158, 153, 153, 0.8) 0px 15px 30px,
    inset rgba(255, 255, 255, 0.15) 0px -20px 30px;
}

.header {
  align-self: center;
  font-size: 3em;
  text-transform: uppercase;
  color: white;
}
