.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: rgba(0, 0, 0, 0.63);
  background-color: rgb(19, 18, 18);
  height: 100vh;
}

.pomo-header {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
}
