.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.63);
}

.pomo-header {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
}
